node_modules/
dist/
*.sh
*.md
*.woff
*.ttf
.vscode
.idea
public
src/assets
src/wxcomponents
.husky
.local
.output.js
.npmrc
.env.local
.env.development
.prettierrc
.eslintcache
package.json
package-lock.json
vite.config.js
shims-uni.d.ts
manifest.json
**/*.d.ts 